@import "../variable";
@import "../mixin";

.footer {
  position: relative;
  background-color: $color-soft-blue;
  margin-top: auto;
  padding-top: 30px;
  padding-bottom: 30px;

  .images{
    display: flex;
    align-items: center;
  }

  .container {
    height: 100%;
    font-size: $font-size-small;
    @include mq("tablet") {
      overflow-x: hidden;
    }

  }
  @include mq("tablet") {
    padding-left: 0;
  }
  &-ets-image{
    width: 20%;
  }
  &-sponsor-images{
    display: none;
    @include mq("tablet") {
      display: flex;
    }
    margin-left: auto;

    align-items: center;
    &-item{
      margin-left: 20px;
    }
  }
  .container .description{
    display: block;
    font-size: .675rem;
    height: 100%;
    overflow: hidden;
    color: $open-dark;
    margin-top: 15px;
  }
}