.header {
  border-bottom: 1px solid #eee;
  height: 68px;
  position: relative;
  z-index: 1; }
  .header .container {
    display: flex;
    align-items: center;
    height: 100%; }
  .header-logo img {
    width: 144px; }
  .header-switch {
    display: block;
    margin-left: auto;
    background-color: rgba(243, 244, 245, var(--tw-bg-opacity));
    border: none; }
    @media (min-width: 768px) {
      .header-switch {
        display: none; } }
  .header-menu {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: auto;
    background-color: rgba(243, 244, 245, var(--tw-bg-opacity));
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    padding: 20px;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s; }
    @media (min-width: 768px) {
      .header-menu {
        pointer-events: auto; } }
    @media (min-width: 768px) {
      .header-menu {
        opacity: 1;
        transform: none;
        display: flex;
        margin-left: auto;
        position: static;
        flex-direction: row;
        padding: 0;
        align-items: center;
        box-shadow: none; } }
    .header-menu-show {
      opacity: 1;
      pointer-events: auto;
      display: flex; }
    .header-menu-user {
      display: flex;
      flex-direction: column;
      width: 100%; }
      @media (min-width: 768px) {
        .header-menu-user {
          margin-right: 20px;
          flex-direction: row;
          width: auto; } }
      .header-menu-user a {
        display: flex;
        align-items: center;
        height: 40px;
        width: 100%;
        justify-content: center; }
        @media (min-width: 768px) {
          .header-menu-user a {
            padding-right: 20px;
            padding-left: 20px; } }
        .header-menu-user a:hover {
          background-color: rgba(128, 128, 128, 0.2); }
    .header-menu-button {
      display: flex;
      align-items: center;
      height: 40px;
      color: white;
      font-weight: bold;
      background-color: #01ACEE;
      border-radius: 3px;
      justify-content: center;
      margin-top: 20px;
      width: 100%; }
      @media (min-width: 768px) {
        .header-menu-button {
          flex-direction: row;
          height: 40px;
          margin-top: 0;
          padding-left: 20px;
          width: auto;
          padding-right: 20px;
          margin-right: 20px; } }
    .header-menu-helper {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
      margin-top: 20px; }
      @media (min-width: 768px) {
        .header-menu-helper {
          margin-top: 0;
          width: auto; } }
      .header-menu-helper select {
        appearance: none;
        height: 40px;
        padding-left: 10px;
        padding-right: 10px;
        color: #083B87;
        border-color: #e0e6f1;
        background-color: transparent; }
      .header-menu-helper select:nth-child(1) {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px; }
      .header-menu-helper select:nth-child(2) {
        margin-left: -1px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px; }
  .header .icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor; }

/*# sourceMappingURL=header.css.map */