@import "variable.scss";
@import "mixin.scss";

.slider-container{
  margin-top: 40px;

}

.title-container{
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  align-items: center;
    margin-bottom: 20px;
  .title{
    font-size: 20px;
    font-weight: bold;
  color: $color-primary;
}

}

.dp-container{
  margin-top: 40px;
}

.cont-container{
    display: flex;
  justify-content: flex-end;
  margin-top: 20px;

}
.cont{
  color: black;
  font-size: 15px;
}
.discover{
    color: $color-primary;
    margin-left: 10px;
    font-size: 20px;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
    font-weight: bold;
    cursor: pointer;
}