$gutter: 20px;
$font-size-big: 18px;
$font-size-bigger: 20px;
$color-navy: #083B87;
$color-blue: #01ACEE;
$font-family: 'Open Sans', sans-serif;
$finger-size: 40px;
$border-radius: 3px;
$font-size: 16px;
$font-size-small: 0.86em;
$font-size-smaller: 0.80em;
$color-soft-blue: #F1F6FF;
$color-yellow: #FBBE00;
$opacity-amount: 0.66;
$open-dark: #212529;
$color-primary: #009ef7;
$color-gray: #6c757d;
$border-color: #f8f9fa;
$white: #ffffff;
